<table class="header-table">
	<tr class="header-top-border">
	<td colspan="4"><div></div></td>
	</tr>
	<tr class="header-row">
		<td><div class="header-band-name">BANDAID</div></td>
		<td><div class="header-followed-by">Followed By : <a href="www.google.com"><%=followers%></a></div></td>
		<td><div class="header-photo"><img src="<%=PROFILE_PICS%>/<%=image%>"></img></div></td>
		<td><div class="header-action">
				<select>
					<option>LOGOUT</option>
					<option>PROFILE</option>
				</select>
			</div>
		</td>
	</tr>
</table>